# text modifiers
#
snippet em "emph"
\emph{$0:${VISUAL}}
endsnippet

snippet bf "textb"
\textbf{$0:${VISUAL}}
endsnippete

snippet it "textit"
\textit{$0:${VISUAL}}
endsnippet

# equations
#
snippet ilm "$$" w
\$ $0 \$
endsnippet
