snippet thm "Theorem" b
\begin{theorem}
	\ref{thm:$1}
	$2
\end{theorem}
endsnippet

snippet def "Definition" b
\begin{definition}
	\ref{def:$1}
	$2
\end{definition}
endsnippet

snippet prop "Proposition" b
\begin{proposition}
	\ref{prop:$1}
	$2
\end{proposition}
endsnippet
